.mainContent {
  display: flex;
  padding: 5px;
  background: #edd09a;
  border-radius: 12px;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mainContent h2 {
  font-weight: bolder;
}

.empty {
  text-align: center;
  margin: 20px;
  font-weight: bold;
}
